
/*Basic Stuff */

body {
    margin-left: 40pt;
    margin-top: 10pt;
    width: 760px;
    font-family: Merriweather, georgia, optima, palatino, verdana, arial, sans-serif;
    font-size: 14px;
    line-height: 15pt;
    background-color: #fffefc;
}

h1 {
 font-size: 20pt;
 font-weight: normal;
}

h2 {
 font-size: 14pt;
 font-weight: normal;
}

h3 {
 font-size: 11pt;
 font-weight: normal;
}

td {
    font-family: Merriweather, georgia;
    font-size: 14px;
}
