
/*Basic Stuff */

body {
    margin-left: 40pt;
    margin-top: 10pt;
    width: 1080px;
    font-family: Merriweather, georgia, optima, palatino, verdana, arial, sans-serif;
    font-size: 14px;
    line-height: 15pt;
    background-color: #cc9999;
}

h1 {
 font-size: 20pt;
 font-weight: normal;
 margin-bottom: 20px;
}

h2 {
 font-size: 14pt;
 font-weight: normal;
}

h3 {
 font-size: 11pt;
 font-weight: normal;
}

td {
    font-family: Merriweather, georgia;
    font-size: 14px;
}

/* .link { */
/*   width: 500px; */
/*   margin-left: 20pt; */
/*   margin-right: 0pt; */
/*   margin-top: 10pt; */
/*   line-height: 15pt; */
/* } */

.header {
  margin-top: 20px;
  margin-bottom: 20px;
}
